# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
env/
.venv/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Streamlit cache
# ==============================
.streamlit/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Large ML Files (Optional)
# ==============================
*.h5
*.pt
*.onnx
models/*.pkl
*.pkl
.pkl